@import "/common/modules/AutomaticSettings/css/photonOptions.css";

table {
	border-collapse: collapse;
}

td,
th {
	border: 2px solid;
}

.hidden {
	display: none;
}

a.button {
	appearance: button;
	text-decoration: none;
	color: unset;
}

a.ipv4 {
	color: purple;
}

a.ipv6 {
	color: teal;
}
