@import "/common/modules/AutomaticSettings/css/photonOptions.css";

table {
	border-collapse: collapse;
}

td,
th {
	border: 2px solid;
}

td.host {
	max-width: 250px;
	overflow-wrap: break-word;
}

.hidden {
	display: none;
}

a.button {
	appearance: button;
	text-decoration: none;
	color: unset;
}

a.ipv4 {
	color: purple;
}

a.ipv6 {
	color: teal;
}

.green {
	color: green;
}

.teal {
	color: teal;
}

.blue {
	color: blue;
}

.yellow {
	color: gold;
}

.red {
	color: red;
}

.b {
	opacity: 0.5;
}

.kib {
	opacity: 0.75;
}

.mib {
}

.gib {
	font-weight: bold;
}

.blocked {
	opacity: 0.5;
}

td.highlight {
	color: blue;
}

td.right {
	text-align: right;
}
